body{
	margin: 0;
	padding: 0 15px;
	background:  #fff;
	min-height: 100%;
	font-family: sans-serif;
}


.container{
	width: 100%;
	/* max-width: 560px; */
	margin: auto;
	border: 1px solid red;

	display: grid;
	grid-template-areas: "header  nav"
						 "main main"
						 "footer footer";	
}

header,
nav,
main,
footer{
	padding: 1em;
	color: #f1c79a;
	font-size: 3em;
}

header{
	background-color: #0e2d21;
	grid-area: header;
}

nav{
	background-color: #38876f;
	grid-area: nav;
}
nav ul{
	list-style-type: none;
}
nav a{
	text-decoration: none;
	color: white;
}

main{
	background-color: #646e74 ;
	height: 600px;
	grid-area: main;
}

footer{
	background-color: #1c1f20 ;
	grid-area: footer;
}
