body{
	margin: 0;
	padding: 0;
	height: 100%;
}


header, footer, .layout, .column-1, .column-2, .column-3{

}

header{
	height: 100px;
}

.layout{
	width:  100%;
	min-width: 100px;
	margin: 0 auto;
}
.column-1, .column-2, .column-3{
	width:  32%;
	/* height: 750px; */
	padding: 20px;
	float: left;
	border:  1px dashed;
	box-sizing: border-box;
}

.column-2, .column-3{
	margin-left: 1%;
}





footer{
	height: 100px;
	clear: both;
}